<%- include('partials/header') -%>

    <section class="body">
        <h1>Home</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus illo, excepturi iure perspiciatis nam animi expedita, ad totam nesciunt soluta, sed labore quaerat laborum praesentium quae dolores. Distinctio, ipsam ipsa.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id vitae ratione illo veniam cumque non aspernatur. Repudiandae sapiente non aspernatur nisi at facere, beatae odio officiis et! Soluta, perferendis natus.
           
        </p>
        <% posts.forEach(function (element) { %>
        <div class="post">
            <h2><%= element.title %></h2>
            <p>
                <%= element.content.substring(0,100) + ' ...' %> 
                <a href="/posts/<%= element.title %>">Read More</a>
            </p>
            
        </div>
        <% }) %>
    </section>
    <div class="add-button">
        <a href="/compose">+</a>
    </div>

<%- include('partials/footer') -%>